.top-bar{
  background-color: white;
  height: 10vh;
}

.site-index {
  background-color: rgba(241, 245, 246, 0.959);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
  
}

// images in css or database?